[submodule "Lecture/lecture_02-getting_started/lib/logger"]
	path = Lecture/lecture_02-getting_started/lib/logger
	url = git@github.com:brothaman/logger.git
[submodule "Lecture/lecture_03-task_scheduling/lib/logger"]
	path = Lecture/lecture_03-task_scheduling/lib/logger
	url = https://github.com/brothaman/logger.git
[submodule "Lecture/lecture_03-task_scheduling-challenge/lib/logger"]
	path = Lecture/lecture_03-task_scheduling-challenge/lib/logger
	url = https://github.com/brothaman/logger.git
